<article
  class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row"
>
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-blue-500 dark:[&>p>strong]:text-blue-300 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p>
      My name is Martí. I completed high school and am currently pursuing a
      vocational degree in <strong>Multiplatform Application Development</strong
      >. I have been learning programming independently for several years and
      have participated in various projects, both individually and
      collaboratively.
    </p>

    <p>
      Currently, I’m interested in several areas of development. I’m focused on
      building my own operating system with <strong
        >Arch Linux (Hyprland)</strong
      >. I’m also passionate about home automation and servers — <em
        >I even have a Proxmox server at home</em
      >.
    </p>

    <p>
      Finally, I really enjoy both backend and frontend development and take
      pleasure in programming on both sides.
    </p>
  </div>
</article>
