<article
  class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row"
>
  <div
    class="[&>p]:mb-4 [&_strong]:text-yellow-500 dark:[&_strong]:text-green-300/80 [&_strong]:font-normal [&_strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p>
      I love programming and creating projects that mix frontend, backend, and a
      touch of artificial intelligence. I’m always experimenting with new
      things: from <strong
        >building my own operating system with Arch Linux</strong
      > to <strong>tinkering with servers and home automation</strong>. I enjoy
      learning while building practical and fun solutions with technology.
    </p>

    <p>
      I enjoy tackling challenges with <strong>creativity and efficiency</strong
      >, always aiming for <strong>clean, maintainable code</strong>. I’m
      particularly passionate about fullstack development, AI applications , and
      exploring innovative solutions in web and system programming.
    </p>

    <p>
      I’m looking for opportunities where I can <strong
        >learn, innovate, and contribute to exciting tech projects</strong
      >. Outside of coding, I love experimenting with home tech projects and
      learning new tools just for fun.
    </p>
  </div>
</article>
