<header
  class="flex justify-center items-center py-5 w-full mx-auto xl:w-[1120px]"
>
  <nav class="flex gap-x-10 opacity-90">
    <a href="/">Home</a>
    <a href="/#achievements">Achievements</a>
    <a href="/#about">About</a>
    <a href="/#contact">Contact</a>
  </nav>
</header>
