@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

* {
    font-family: "Rubik", sans-serif;
    margin: 0;
}

body {
    background: radial-gradient(500% 300% at 50% 10%, #212121 10%, #5d4727 30%);
}

p {
    max-width: 65ch;
    font-size: 1.3vw;
    line-height: 1.4;
    margin: 2vw 3vw;
    color: rgb(215, 215, 215);
    text-align: justify;
}

h1 {
    text-align: center;
    color: rgb(201, 149, 103);
    font-size: 2.6vw;
    margin: 2vw;
}

a {
    color: #d4b86b;
}

/**Animations Start**/

@keyframes gradient-animation {
    0% {
        transform: translateX(-100%);
    }

    25% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(100%);
    }
}

@keyframes typewriter {
    0% {
        width: 0px;
    }

    25% {
        width: 335px;
    }
}

@keyframes blink {
    0% {
        border-right-color: rgba(255, 255, 255, .75);
        ;
    }

    100% {
        border-right-color: transparent;
    }
}

/**Animations End**/

/**Content Start**/

.content {
    min-height: 100vh;
    z-index: 0;

    display: flex;


    align-items: center;
    justify-content: space-between;
    position: relative;

    gap: 2rem;
    padding: 2rem;
    align-items: stretch;
}

/**Content End**/


/**NavBar Start**/

.nav ul {
    list-style-type: none;
    padding: 0;

    justify-content: center;
    display: flex;

    border-radius: 15px;
    border: solid #323232 2px;

    background-color: rgba(0, 0, 0, 0.150);
    backdrop-filter: blur(20px);
}

.nav li {
    margin: 2vw 0;
    font-size: 1.4vw;
}

.nav a {
    text-decoration: none;
    margin: 2vw;
    color: white;
}

/**NavBar End**/

/**Main Start**/

.main {
    flex: 1;
    max-width: 60%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.main-container {
    border-radius: 15px;
    border: solid #323232 2px;

    background-color: rgba(0, 0, 0, 0.150);
    backdrop-filter: blur(20px);
}

.main h3 {
    color: rgb(212, 207, 207);
    font-size: 20px;
}

/**Main End**/

/**Tecnologies Start**/

.tecnologies-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap:2vw;
    margin: 2vw;
}

.tecnologies-box {
    background-color: rgba(198, 198, 198, 0.13);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
    border-radius: 10px;

    text-align: center;
    position: relative;
    overflow: hidden;

    border: solid 3px rgba(49, 49, 49, 0.233);
}

.tecnologies-box::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(110deg, rgba(227, 227, 227, 0) 0%, rgba(227, 227, 227, 0) 35%, rgba(227, 227, 227, 0.5) 50%, rgba(227, 227, 227, 0) 70%, rgba(227, 227, 227, 0) 100%);
    animation: gradient-animation 8s infinite;
}

.tecnologies-box img {
    margin: 10%;
    max-width: 80%;
}

.tecnologies-box h3 {
    font-size: 1.5vw !important;
}

/**Tecnologies End**/

/**Header Start**/

.header {
    flex: 2;
    max-width: 40%;
    height: 100vh;
}

.header-up {
    background-color: rgba(0, 0, 0, 0.150);
    backdrop-filter: blur(20px);

    border-radius: 30px;
    border: solid #323232 2px;
    margin-bottom: 4vh;
}

.header-down {
    background-color: rgba(0, 0, 0, 0.150);
    backdrop-filter: blur(20px);

    border-radius: 30px;
    border: solid #323232 2px;
}

.tittle-header {
    margin: 3vw;
}

.h1-header {
    color: white !important;
    font-size: 3.5vw !important;

    margin: 0 !important;
    text-align: left !important;
}

.span-header {
    position: relative;
    overflow: hidden;

    
    margin: 0;
    text-align: left;

    white-space: nowrap;
    border-right: 3px solid;
    width: 335px;
    animation: typewriter 8s steps(25) 1s infinite normal, blink 0.5s steps(25) infinite;
}

.span-header-text {
    font-size: 1.31vw;
    font-weight: 500;

    background-color: #939393;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/**Header End**/

/**Port Start**/

/**Footer Start**/

.footer {
    background-color: rgba(0, 0, 0, 0.150);
    backdrop-filter: blur(20px);

    margin: 2rem;
    height: 100%;

    border-radius: 30px;
    border: solid #323232 2px;
}

/**Footer End**/
